.block-stats {
  .stats__wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    .stats__textbar {
      max-width: 88.4rem;
      width: 100%;
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
      padding-right: 5.6rem;
      padding-left: 5.6rem;
      text-align: center;
      border-radius: 2.2rem;
      margin-bottom: 4rem;
      @include linear-gradient('to bottom, '+rgba($color: $color_grd_blue, $alpha: .6)+' 60%, '+rgba($color: $color_grd_violet, $alpha: .6)+'');
    }
    .stats__wrapper-el {
      display: flex;
      .stats__el {
        &:not(:last-child) {
          margin-right: 3.8rem;
        }
      }
    }
  }
}

@include res('md') {
  .block-stats {
    .stats__wrapper {
      .stats__wrapper-el {
        .stats__el {
          &:not(:last-child) {
            margin-right: 2.6rem;
          }
        }
      }
    }
  }
}
@include res('sm') {
  .block-stats {
    margin-top: 0;
    .stats__wrapper {
      .stats__wrapper-el {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .stats__el {
          margin-right: 1rem;
          margin-left: 1rem;
          &:not(:last-child) {
            margin-right: 1rem;
            margin-left: 1rem;
          }
        }
      }
    }
  }
}