.container {
  max-width: 130rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  margin: auto;
  width: 100%;
}

/* TEXT POSITIONING */
.t-center {
  text-align: center;
}

/* MARGIN TOP*/
.mt-20 {
  margin-top: 2rem;
}
.mt-30 {
  margin-top: 3rem;
}
.mt-60 {
  margin-top: 6rem;
}
.mt-70 {
  margin-top: 7rem;
}
.mt-120 {
  margin-top: 12rem;
}
.mt-130 {
  margin-top: 13rem;
}
.mt-150 {
  margin-top: 15rem;
}
/* MARGIN BOTTOM*/
.mb-30 {
  margin-bottom: 3rem;
}
.mb-60 {
  margin-bottom: 6rem;
}
.mb-120 {
  margin-bottom: 12rem;
}

/* PADDING RIGHT */
.pr-5 {
  padding-right: .5rem;
}
.pr-10 {
  padding-right: 1rem;
}

/* PADDING LEFT */
.pl-5 {
  padding-left: .5rem;
}
.pl-10 {
  padding-left: 1rem;
}

.d-none {
  display: none !important;
}


// MIXINS
@include res('md') {
  .d-none-md {
    display: none !important;
  }
  .d-block-md {
    display: block !important;
  }
}

@include res('sm'){
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .d-none-sm {
    display: none !important;
  }
  .d-block-sm {
    display: block !important;
  }
}